.app {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  padding: 30px;
}
.puzzle {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  text-align: center;
}
.space{
  padding: 30px 10px 70px;
}
.letter{
  padding: 30px 5px 70px;
}
.punctuation{
  padding: 30px 5px 70px;
}
.inputs{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.guess-box{
  text-align: center;
  background-color: #E1E3E5;
  border-radius: 2px;
}

.incorrect-guess-button{
  background-color: red;
  color: black;
  border: 1px solid;
  opacity: 40%;
}
.correct-guess-button{
  background-color: blue;
  color: black;
  border: 1px solid;
  opacity: 40%;
}
.unguessed-button{
background-color: #E1E3E5;
color: black;
border: 1px solid;
}

.bigButton{
  height: 75px;
  width: 200px;
  border-radius: 10px;
  font-size: 20px;
  border-color: #0079d3;
  border: 2px solid #0079d3;
}
button {
  background-color: #0079d3;
  border-radius: 5px;
  border: 2px solid #0079d3;
  color: white;
}
h3{
  text-align: center;
}
