.app {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  padding: 30px;
}
/* h1{
  font-size: 36;
} */
.puzzle {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.space{
  padding: 30px 10px 70px;
}
.letter{
  padding: 30px 5px 70px;
}
.punctuation{
  padding: 30px 5px 70px;
}
.inputs{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.incorrect-guess-button{
  background-color: red;
  color: black;
  opacity: 75%;
}
.correct-guess-button{
  background-color: blue;
  color: black;
  opacity: 75%;
}

