.app {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  padding: 30px;
}
.puzzle {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  text-align: center;
  padding: 0px 5px 5px;
}
.space {
  padding: 1px 5px 2px;
}
.letter {
  padding: 1px 5px 2px;
}
.punctuation {
  padding: 1px 5px 2px;
}
.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.guess-box {
  text-align: center;
  background-color: #e1e3e5;
  border-radius: 2px;
}

.incorrect-guess-button {
  background-color: red;
  color: black;
  border: 1px solid;
  opacity: 0.4;
  width: 20px;
}
.correct-guess-button {
  background-color: blue;
  color: black;
  border: 1px solid;
  opacity: 0.4;
  width: 20px;
}
.unguessed-button {
  background-color: #e1e3e5;
  color: black;
  border: 1px solid;
  width: 20px;
}

.bigButton {
  height: 75px;
  width: 200px;
  border-radius: 10px;
  font-size: 20px;
  border-color: #0079d3;
  border: 2px solid #0079d3;
}
button {
  background-color: #0079d3;
  border-radius: 5px;
  border: 2px solid #0079d3;
  color: white;
  padding: 1px 5px 2px;
}
h3 {
  text-align: center;
}
